server:
  port: ${SERVER_PORT:8081}

spring:
  application:
    name: Auth-App-Backend

logging:
  level:
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    metrics:
      enabled: true
